*{
    margin: 0px;
    padding: 0px;
    max-width: 1280px;
    margin: auto;
    scroll-behavior: smooth;
}

/* home style */
.nav-container{
    background-color: rgba(87, 87, 87, 0.822);
    display: flex;
    flex-direction: column;
}

.nav-logo{
    height: 60px;
    width: 120px;
}

.nav-divider {
    width: 100%;
    border: none;
    height: 3px;
    background-color: white; /* or any color */
    margin: 15px 0;
}


.nav-container ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.nav-container ul li{
   list-style: none;
}

.nav-container ul li a{
    text-decoration: none;
    color: rgb(48, 47, 47);
    font-size: 25px;
}

.nav-container ul li a:hover{
    color: white;
}

/* home */
.home{
    background-color: black;
}

.home-container{
    display: flex;
    padding: 30px 60px;
}

.home-img{
    height: 500px;
    width: 500px;
    border-radius: 50px 0px;
}

.home-container p{
    color: white;
    font-size: 40px;
}

#home-hello{
    color: red;
    font-size: 100px;
    font-weight: bold;
}

.home-hadiul-islam{
    color: rgb(133, 132, 132);
    font-size: 50px;
    font-weight: bold;
}

/* my story */
.my-story{
    background-color: black;
}

.my-story-container{
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    gap: 50px;
}

.section-header{
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.my-story-text-img{
    display:flex;
    gap: 70px;
    
}

.my-story-img{
    height: 500px;
    width: 500px;
    border-radius: 0px 50px;
}

.my-story-paragraph{
    color: white;
    font-size: 30px;
}

/* my study */
.study{
    background-color: black;
}
.study-container{
    display: flex;
    flex-direction: column;
}

.study-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
}

.study-card-container div{
    border: 2px solid rgb(133, 132, 132);
    margin: 20px 30px;
    padding: 20px;
    color: white;
}

.study-card-container div:hover{
    background-color: rgb(71, 71, 71);
}

/* my skill */